---
import Layout from '../../layouts/Layout.astro';
import Markdown from '../../components/Markdown.astro';
import { uploadDisabled } from '../../utils';

const explainer = `
Contact: +91 99402 32249 | Email : <a href="mailto:fernando.pradeep@gmail.com">fernando.pradeep@gmail.com </a> | LinkedIn  : <a href="https://www.linkedin.com/in/maria-pradeep/"> linkedin.com/in/maria-pradeep </a> | GitHub : <a href="https://github.com/maria-pradeep">github.com/maria-pradeep </a>
`;


---

<Layout title="Contact">
    <h1 class="mb-10">Contact/h1>
    <Markdown content={explainer} class="mb-12" />

</Layout>
