---
import { Image } from 'astro:assets';
import corgi from '../assets/corgi.jpg';
import Diff from '../components/Diff.astro';
import Markdown from '../components/Markdown.astro';
import Layout from '../layouts/Layout.astro';

const sampleImage = '/images/corgi.jpg';

const forceWebP = process.env.NODE_ENV = "development";
const sampleImageSrcSet = [640, 1280, 2048]
    .map((size) => {
        return `/.netlify/images?url=${sampleImage}&w=${size}${forceWebP ? '&fm=webp' : ''} ${size}w`;
    })
    .join(', ');
const sizes = '(max-width: 1024px) 100vw, 1024px';

const astroImageSnippet = `

`;

const originalVsCdnSnippet = `

`;

const devModeWarning = `

`;
---

<Layout title="Projects">
    <div class="flex flex-col gap-12 sm:gap-16">
            <h1 class="mb-10">Projects</h1>

            <table class="table-auto border-collapse border border-gray-300">
                <thead>
                    <tr>
                        <th class="border border-gray-300 px-4 py-2">SL#</th>
                        <th class="border border-gray-300 px-4 py-2">Client</th>
                        <th class="border border-gray-300 px-4 py-2">Project</th>
                        <th class="border border-gray-300 px-4 py-2">Project Details</th>                        
                        <th class="border border-gray-300 px-4 py-2">Technology Used</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">1</td>
                        <td class="border border-gray-300 px-4 py-2">BNY, Chennai</td>
                        <td class="border border-gray-300 px-4 py-2">Credit Approval and Rating System (CARS)</td>
                        <td class="border border-gray-300 px-4 py-2">Designed credit risk assessment platform combining qualitative underwriting with quantitative risk 
measurement using Moody's Framework. Implemented counterparty and facility analysis modules with C# and 
SQL Server 2022</td>
                        <td class="border border-gray-300 px-4 py-2">.NET, C#, SQL Server</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">2</td>
                        <td class="border border-gray-300 px-4 py-2">FIS, Chennai </td>
                        <td class="border border-gray-300 px-4 py-2">iAutomate RPA Solution</td>
                        <td class="border border-gray-300 px-4 py-2">Created intelligent automation bots for workflow automation, email monitoring, web scraping, and document 
processing. Developed .NET validation applications for Quality-Wall information verification. </td>
                        <td class="border border-gray-300 px-4 py-2">iAutomate, .NET, C#, SQL Server</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">3</td>
                        <td class="border border-gray-300 px-4 py-2">Ford, China</td>
                        <td class="border border-gray-300 px-4 py-2">China Electric Vehicle Data Monitoring (CEVDM)</td>
                        <td class="border border-gray-300 px-4 py-2">Built Azure-based IoT monitoring portal tracking electric vehicle health in real-time. Integrated with China 
National Government platforms for regulatory compliance. Implemented battery, fuel, brake monitoring with 
geospatial visualization.</td>
                        <td class="border border-gray-300 px-4 py-2">AZURE, .NET, C#, SQL Server</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">4</td>
                        <td class="border border-gray-300 px-4 py-2">Citibank, Dublin</td>
                        <td class="border border-gray-300 px-4 py-2">CitiDirect Banking Evolution</td>
                        <td class="border border-gray-300 px-4 py-2">Developed global payment processing platform with workflow management for fund transfers, SEPA payments, 
and cross-border transactions. Implemented MVC 4.0 architecture with comprehensive security controls.</td>
                        <td class="border border-gray-300 px-4 py-2">.NET, C#, SQL Server</td>
                    </tr>
                   
                </tbody>
            </table>
      
    </div>
</Layout>
