---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Principal Software Engineer – .NET Development, Gen AI 

Professional Summary :
Results-driven Principal Software Engineer with 17+ years of expertise in .NET development, cloud computing, 
and enterprise application architecture. Proven track record of leading high-profile projects from conception to 
deployment, specializing in IoT, Machine Learning, Azure Cloud, and RPA solutions. 
Master's degree in Computer Science with certifications in Agile methodologies and Microsoft technologies. 
Demonstrated ability to design scalable systems, mentor development teams, and deliver innovative solutions for 
Fortune 500 clients across banking, automotive, and government sectors.
`;
---

<Layout title="Maria Pradeep Fernando">
    <h1 class="mb-10">Maria Pradeep Fernando</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
  
</Layout>
