---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = ['/revalidation', 'cats-related', 'all-pets-related'];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `
 
`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Professional Certifications">
    <h1 class="mb-10">Professional Certifications</h1>
    <Markdown content={explainer} class="mb-10" />
    <div class="flex flex-wrap gap-4">
        <table class="w-full table-auto border-collapse">
            <thead>
                <tr>
                    <th class="border px-4 py-2 text-left">SL#</th>
                    <th class="border px-4 py-2 text-left">Certification</th>
                    <th class="border px-4 py-2 text-left">Completion Date</th>
                    <th class="border px-4 py-2 text-left">Company#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border px-4 py-2">1</td>
                    <td class="border px-4 py-2">
                    <a href="https://www.coursera.org/account/accomplishments/specialization/WGI2L3VUS895">
                    Microsoft Generative AI for Data Analysis Professional Certificate</a></td>
                    <td class="border px-4 py-2">27‑Feb‑2026</td>
                    <td class="border px-4 py-2"><img src="/images/logos/microsoft.png" alt="Microsoft logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">2</td>
                    <td class="border px-4 py-2">
                    <a href="https://www.coursera.org/account/accomplishments/specialization/6IUYTV86QZX5">
                    IBM AI Developer Professional Certificate</a></td>
                    <td class="border px-4 py-2">23‑Feb‑2026</td>
                    <td class="border px-4 py-2"><img src="/images/logos/ibm.png" alt="IBM logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">3</td>
                    <td class="border px-4 py-2">Google AI Professional Certificate</td>
                    <td class="border px-4 py-2">20‑Feb‑2026</td>
                    <td class="border px-4 py-2"><img src="/images/logos/google.png" alt="Google logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">4</td>
                    <td class="border px-4 py-2">IBM - Building Generative AI-Powered Applications with Python</td>
                    <td class="border px-4 py-2">20‑Feb‑2026</td>
                    <td class="border px-4 py-2"><img src="/images/logos/ibm.png" alt="IBM logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">5</td>
                    <td class="border px-4 py-2">Google Project Management Professional Certificate</td>
                    <td class="border px-4 py-2">16‑Feb‑2026</td>
                    <td class="border px-4 py-2"><img src="/images/logos/google.png" alt="Google logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">6</td>
                    <td class="border px-4 py-2">Microsoft Azure SQL</td>
                    <td class="border px-4 py-2">17‑Feb‑2026</td>
                    <td class="border px-4 py-2"><img src="/images/logos/microsoft.png" alt="Microsoft logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">7</td>
                    <td class="border px-4 py-2">AI-Powered Software Development Certification</td>
                    <td class="border px-4 py-2">27‑Jan‑2026</td>
                    <td class="border px-4 py-2"><img src="/images/logos/coursera.png" alt="Coursera logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">8</td>
                    <td class="border px-4 py-2">Generative AI Leader Professional Certificate</td>
                    <td class="border px-4 py-2">29‑Jan‑2026</td>
                    <td class="border px-4 py-2"><img src="/images/logos/coursera.png" alt="Coursera logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">9</td>
                    <td class="border px-4 py-2">Certified ICAgile Expert</td>
                    <td class="border px-4 py-2">Achievement Date: July 2014</td>
                    <td class="border px-4 py-2"><img src="/images/logos/ICAgile.png" alt="ICAgile logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">10</td>
                    <td class="border px-4 py-2">Microsoft Certified Technology Specialist: Dynamics CRM 2011 Customization and Configuration</td>
                    <td class="border px-4 py-2">Score: 942 (November 2011)</td>
                    <td class="border px-4 py-2"><img src="/images/logos/microsoft.png" alt="Microsoft logo" class="h-6" /></td>
                </tr>
                <tr>
                    <td class="border px-4 py-2">11</td>
                    <td class="border px-4 py-2">Brain Bench: .NET 4.0 Framework Certified</td>
                    <td class="border px-4 py-2">Score: 3.12 (February 2013)</td>
                    <td class="border px-4 py-2"><img src="/images/logos/brain-bench.png" alt="Brain Bench logo" class="h-6" /></td>
                </tr>
            </tbody>
        </table>
        <button class="revalidate-button btn" data-tag={exampleTag}>Invalidate tag: {exampleTag}</button>
        <button class="btn" onclick="location.reload()">Reload page</button>
    </div>
</Layout>

<script>
    function revalidate(tag: string) {
        fetch('/api/revalidate', {
            method: 'POST',
            body: JSON.stringify({ tags: [tag] }),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        alert(`Invalidated tag: ${tag}`);
    }

    const revalidateButton = document.querySelectorAll('button.revalidate-button')[0];
    revalidateButton.addEventListener('click', (e) => {
        const tag = (e.target as HTMLButtonElement).getAttribute('data-tag');
        revalidate(tag);
    });
</script>
