---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = ['/revalidation', 'cats-related', 'all-pets-related'];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `

`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Professional Certifications">
    <h1 class="mb-10">Professional Certifications</h1>
    <Markdown content={explainer} class="mb-10" />
    <div class="flex flex-wrap gap-4">
            1. Microsoft Generative AI for Data Analysis Professional Certificate  – 27-Feb-2026 
            2. IBM AI Developer Professional Certificate – 23-Feb-2026 
            3. Google AI Professional Certificate – 20-Feb-2026 
            4. IBM - Building Generative AI-Powered Applications with Python – 20-Feb-2026 
            5. Google Project Management Professional Certificate – 16-Feb-2026  
            6. Microsoft Azure SQL – 17-Feb-2026  
            7. AI-Powered Software Development Certification – 27-Jan-2026  
            8. Generative AI Leader Professional Certificate – 29-Jan-2026 
            9. Certified ICAgile Expert - Achievement Date: July 2014 
            10. Microsoft Certified Technology Specialist: Dynamics CRM 2011 Customization and Configuration - 
                Score: 942 (November 2011) 
            11. Brain Bench: .NET 4.0 Framework Certified - Score: 3.12 (February 2013) 
        <button class="revalidate-button btn" data-tag={exampleTag}>Invalidate tag: {exampleTag}</button>
        <button class="btn" onclick="location.reload()">Reload page</button>
    </div>
</Layout>

<script>
    function revalidate(tag: string) {
        fetch('/api/revalidate', {
            method: 'POST',
            body: JSON.stringify({ tags: [tag] }),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        alert(`Invalidated tag: ${tag}`);
    }

    const revalidateButton = document.querySelectorAll('button.revalidate-button')[0];
    revalidateButton.addEventListener('click', (e) => {
        const tag = (e.target as HTMLButtonElement).getAttribute('data-tag');
        revalidate(tag);
    });
</script>
